.animation, .animation2
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0    
    width: 100%
    height: 100%
    z-index: 100
    // background-image: url(../img/fondo.png)
    // background-size: cover
    // background-position: fixed
    // background-repeat: no-repeat
    // background-position: center
    display: flex
    align-items: center
    justify-content: center
    background: $warning
    .light
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 0
    .box
        position: relative
        display: block
        margin: 0 0 0 -8px
        h1
            font-size: 35px
            font-weight: $font-800
            color: $dark-green
            animation: show 1s alternate, rotate 2s alternate infinite
        .logo
            width: 240px
            animation: show 1s alternate, rotate 3s alternate infinite
        h2
            font-size: 35px
            font-weight: $font-800
            color: $dark-green
        .logo-planet
            width: 240px
.animation2 
    background: $warning
    .box
        h1
            font-weight: $font-800
        .logo-planet
            width: 240px
            margin: auto

.hojas  
    position: absolute
    width: 25px
    z-index: 50
    animation: down 3s alternate both

.hojas2
    position: absolute
    width: 25px
    z-index: 50
    animation: fly alternate infinite

.hojas3
    position: absolute
    width: 25px
    z-index: 50
    animation: fly2 alternate infinite

@keyframes down
    0%
        opacity: 0
        transform: translateY(0) rotate(0)
    10% 
        opacity: 1
    100%
        opacity: 0
        transform: translateY(65vh) 

@keyframes fly
    0% 
        opacity: 0
        transform: translateX(0) translateY(0px) rotate(0)
    10% 
        opacity: 1
    100% 
        opacity: 0
        transform: translateX(35px) translateY(-50px) rotate(5deg)

@keyframes fly2
    0% 
        opacity: 0
        transform: translateX(0) translateY(0px) rotate(0)
    10% 
        opacity: 1
    100% 
        opacity: 0
        transform: translateX(-35px) translateY(30px) rotate(-5deg)

@keyframes rotate
    0%
        transform: rotate(-10deg)
    100%
        transform: rotate(10deg)

@keyframes show
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes ocult
    0%
        opacity: 1
    100%
        opacity: 0
        