.animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animation .box {
  position: relative;
}

.animation .box .logo {
  width: 240px;
  -webkit-animation: show 1s alternate, rotate 3s alternate infinite;
          animation: show 1s alternate, rotate 3s alternate infinite;
}

.hojas {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: down 3s alternate both;
          animation: down 3s alternate both;
}

.hojas2 {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: fly alternate infinite;
          animation: fly alternate infinite;
}

.hojas3 {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: fly2 alternate infinite;
          animation: fly2 alternate infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(65vh);
            transform: translateY(65vh);
  }
}

@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(65vh);
            transform: translateY(65vh);
  }
}

@-webkit-keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(35px) translateY(-50px) rotate(5deg);
            transform: translateX(35px) translateY(-50px) rotate(5deg);
  }
}

@keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(35px) translateY(-50px) rotate(5deg);
            transform: translateX(35px) translateY(-50px) rotate(5deg);
  }
}

@-webkit-keyframes fly2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-35px) translateY(30px) rotate(-5deg);
            transform: translateX(-35px) translateY(30px) rotate(-5deg);
  }
}

@keyframes fly2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-35px) translateY(30px) rotate(-5deg);
            transform: translateX(-35px) translateY(30px) rotate(-5deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ocult {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ocult {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
