/* Fuentes */
@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-ExtraBold.woff2") format("woff2"), url("../font/Akrobat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Bold.woff2") format("woff2"), url("../font/Akrobat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Black.woff2") format("woff2"), url("../font/Akrobat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Light.woff2") format("woff2"), url("../font/Akrobat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Regular.woff2") format("woff2"), url("../font/Akrobat-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-ExtraLight.woff2") format("woff2"), url("../font/Akrobat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-SemiBold.woff2") format("woff2"), url("../font/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Thin.woff2") format("woff2"), url("../font/Akrobat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Vars */
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Akrobat";
  font-weight: 500;
  background: #e5e2e3;
}
/*# sourceMappingURL=global.css.map */