/* Fuentes */
@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-ExtraBold.woff2') format('woff2'), url('../font/Akrobat-ExtraBold.woff') format('woff')
    font-weight: 800
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-Bold.woff2') format('woff2'), url('../font/Akrobat-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-Black.woff2') format('woff2'), url('../font/Akrobat-Black.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-Light.woff2') format('woff2'), url('../font/Akrobat-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-Regular.woff2') format('woff2'), url('../font/Akrobat-Regular.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-ExtraLight.woff2') format('woff2'), url('../font/Akrobat-ExtraLight.woff') format('woff')
    font-weight: 200
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat';
    src: url('../font/Akrobat-SemiBold.woff2') format('woff2'), url('../font/Akrobat-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Akrobat'
    src: url('../font/Akrobat-Thin.woff2') format('woff2'), url('../font/Akrobat-Thin.woff') format('woff')
    font-weight: 100
    font-style: normal
    font-display: swap

/* Vars */
$font1: 'Akrobat'
$font-100: 100
$font-200: 200
$font-300: 300
$font-500: 500
$font-600: 600
$font-800: 800
$font-900: 900
$font-bold: bold
$dark-green: #005c2e
$light-green: #55c752
$warning: #f9e100
$light-grey: #e5e2e3
$dark-grey: #808080
$brown: #4a3315

/* Global Styles */
*
    margin: 0
    padding: 0
    box-sizing: border-box
    user-select: none

html    
    scroll-behavior: smooth
        
body
    font-family: $font1
    font-weight: $font-500
    background: $light-grey