.header 
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 50
    background: $light-grey
    padding: 10px
    .logo2
        width: 180px
    .icon-menu
        position: fixed
        top: 13px
        right: 10px
        width: 40px
        cursor: pointer
        
.nav
    position: fixed
    top: -200px
    left: 50%
    z-index: 50
    transform: translate(-50%, -50%)
    padding: 5px
    background: $dark-green
    opacity: 0
    transition: .8s cubic-bezier(1,0,0,1) all
    a
        display: block
        width: 200px
        font-size: 22px
        font-weight: $font-600
        padding: 7px 15px
        color: $light-grey
        border-bottom: 2px solid $light-grey
        text-decoration: none
        transition: .6s ease all
        &:hover
            color: white
            border-bottom: 2px solid white
    a:nth-child(4)
        border-bottom: 0px
        &:hover
            border-bottom: 0px 
.active
    top: 200px
    opacity: 1