.home {
  display: block;
  min-height: 600px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e2e3;
}

.home .container .logo {
  width: 280px;
}

.home .container .flecha {
  cursor: pointer;
  width: 50px;
  -webkit-animation: bounce 1s alternate infinite;
          animation: bounce 1s alternate infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px) scale(1.5);
            transform: translateY(-15px) scale(1.5);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px) scale(1.5);
            transform: translateY(-15px) scale(1.5);
  }
}
