.home
    display: block
    min-height: 700px
    height: 100vh
    display: flex
    align-items: center
    flex-flow: row wrap
    justify-content: center
    background: $light-grey
    .container
        position: relative
        display: block
        width: 100%
        max-width: 600px
        height: 750px
        margin: auto
        overflow: auto
        scroll-behavior: smooth
        transition: 1s .5s ease-in all
        .logo
            width: 280px
            cursor: pointer
        .flecha, .flecha2
            cursor: pointer
            width: 50px
            animation: bounce 1s alternate infinite
        .flecha2
            width: 30px
            animation: none
        h1
            font-size: 40px 
            font-weight: $font-600
            color: $dark-green
        .h1
            font-size: 25px
            font-weight: $font-800
        form 
            display: block
            width: 100%
            margin: auto
        .text-small
            font-size: 19px
            font-weight: $font-800
            color: $dark-green
        .logo2
            width: 240px
        .video
            position: relative
            &:hover .play
                transform: translate(-50%,-50%) scale(1.3)
            video
                max-height: 300px
                width: 100%
            .iframe
                display: block
                min-height: 300px
                max-height: 300px
                width: 100%
            .play
                position: absolute
                top: 50%
                left: 50%
                width: 50px                
                z-index: 5
                transform: translate(-50%,-50%)
                cursor: pointer
                transition: .6s ease all
        .d-flex
            .btn-warn
                width: 220px
                font-size: 22px
                font-weight: $font-600
                color: $dark-green
                background: $warning
                border-radius: 25px
                transition: .6s ease all
                &:hover
                    background: $dark-green
                    color: $warning
            .input-warn
                width: 240px
                font-size: 22px
                font-weight: $font-500
                text-align: center
                color: $dark-green
                background: $warning
                border-radius: 25px
                border: none
                transition: 1s ease all
                &:focus, &:valid
                    background: $dark-green
                    color: $warning
            .input-green
                width: 240px
                font-size: 24px
                font-weight: $font-500
                text-align: center
                color: $dark-green
                background: transparent
                border-radius: 25px
                border: 4px solid $dark-green
                transition: 1s ease all
                &:focus, &:valid
                    border: 4px solid $light-green
            p
                font-size: 24px
        small
            max-width: 300px
            font-size: 12px
            font-weight: $font-600
            color: $dark-green
        .check
            display: block
            padding: 5px
            margin-left: auto
            margin-right: 0
        .btn-darkgreen
            width: 180px
            font-size: 18px
            font-weight: $font-600
            text-align: center
            color: $light-grey
            background: $dark-green
            border-radius: 25px
            border: none
            transition: .6s ease all
            &:hover
                background: $dark-grey
                color: $warning
                transform: translateY(-10px)
        .img-planet
            width: 180px
        .form-group, .form-group3                  
            border: 4px solid $dark-grey
            border-radius: 25px
            p
                width: 30%
                border-right: 3px solid $dark-grey
                font-size: 22px
                font-weight: $font-500
                color: $dark-grey
            p.d-block
                min-width: 40%
            .input-grey
                width: 60%
                margin-left: 0
                margin-right: auto
                font-size: 22px
                font-weight: $font-500
                text-align: center
                color: $dark-grey
                border: none
                outline: none
                background: transparent
                transition: 1s ease all
                &:focus, &:valid
                    color: $dark-green
            img
                width: 25px
                object-fit: contain
        .small-gray
            font-weight: $font-600
            color: $dark-grey      
        .small-green
            font-size: 16px
            font-weight: $font-600
            color: $dark-green    
        .link-gray
            text-decoration: none
            font-size: 16px
            font-weight: $font-600
            color: $dark-grey
        .flecha-gris
            position: fixed
            bottom: 0
            left: 50%
            width: 25px
            object-fit: contain
            transform: translate(-50%, -50%)
            cursor: pointer
            transition: .6s ease all
        .flecha-gris.arriba
            opacity: 0
            top: 80px
            transform: translate(-50%, -50%) rotate(180deg)
        .d-flex
            .checkbox
                display: none
            #checkbox:checked ~ .casa, #checkbox2:checked ~ .apart, #checkbox3:checked ~ .lun, #checkbox4:checked ~ .mart, #checkbox5:checked ~ .mier, #checkbox6:checked ~ .juev, #checkbox7:checked ~ .vier, #checkbox8:checked ~ .any
                background: $dark-grey
                color: white
            label
                display: block
                min-width: 120px
                font-size: 20px
                font-weight: $font-500
                color: $dark-grey
                border: 3px solid $dark-grey
                border-radius: 25px
                transition: .6s ease all
                cursor: pointer
            .checklabel
                border: none
        .form-group2
            flex-wrap: wrap
            label
                min-width: 28%
                font-size: 18px
        .form-group3
            .input-grey
                width: 100%
        .btn-darkgray
            width: 240px
            font-size: 18px
            font-weight: $font-600
            text-align: center
            color: $light-grey
            background: $dark-grey
            border-radius: 25px
            border: none
            transition: .6s ease all
            &:hover
                background: $warning
                color: $dark-grey
                transform: translateY(-10px)
        .btn-lightgray
            width: 220px
            font-size: 20px
            font-weight: $font-600
            text-align: center
            color: $dark-grey
            background: transparent
            border: 4px solid $dark-grey
            border-radius: 25px
            transition: .6s ease all
            &:hover
                background: $dark-grey
                color: white
                transform: translateY(-10px)
        .input-lightgrey
            font-size: 22px
            font-weight: $font-500
            color: $dark-grey
            border: none
            outline: none
            border-bottom: 2px solid $dark-grey
            background: transparent
            transition: 1s ease all
            &:focus, &:valid
                color: $dark-green
        .input-sm
            width: 40px
            font-size: 22px
            font-weight: $font-500
            color: $dark-grey
            border: none
            outline: none
            border-bottom: 2px solid $dark-grey
            background: transparent
            transition: 1s ease all
            &:focus, &:valid
                color: $dark-green
        .input-sm:last-child
            border-bottom: 0px
        .sep
            font-size: 24px
            font-weight: $font-800
            color: $dark-grey
        a
            text-decoration: none
        .warning, .darkgreen
            background: $warning
            h1
                font-size: 30px
                font-weight: $font-800
            small
                font-size: 14px
                font-weight: $font-600
            h2
                font-size: 40px
                font-weight: $font-800
                background: $dark-green
                color: $warning
                border-radius: 25px
            hr
                display: block
                width: 100%
                height: 1px
                background: $dark-green
            .d-flex
                .box-img
                    display: flex
                    min-width: 85px
                    height: 85px
                    background: $dark-green
                    cursor: pointer
                    img
                        display: block
                        width: 85px
                        height: 85px
                .items
                    .kit
                        font-size: 15px
                        font-weight: $font-600
                    .text-left
                        font-size: 12px
                        font-weight: $font-600
        .darkgreen
            .d-flex
                .box-img
                    background: $warning
                    small
                        color: $dark-green
            hr
                background: $warning
        form
            .d-flex
                .lab
                    cursor: pointer
                    border: none 
            .group, .group2
                border-top: 2px solid $dark-grey
                p, span
                    width: 50%     
                p
                    border-right: 2px solid $dark-grey        
            .group2
                p
                    border-right: 0px       
            .lead
                font-size: 17px
                font-weight: $font-600
                color: $dark-grey
            .bold
                color: $dark-grey
                font-weight: $font-800
            .btn-darkgray-sm
                width: 140px
                font-size: 20px
                font-weight: $font-800
                text-align: center
                color: $light-grey
                background: $dark-grey
                border-radius: 25px
                border: none
                transition: .6s ease all
                &:hover
                    background: $warning
                    color: $dark-grey
                    transform: translateY(-10px)
        .darkgreen
            background: $dark-green
            h1
                color: $warning
            small
                color: $warning
            h2
                background: $warning
                color: $dark-green
        .modal
            .modal-content
                background: $light-grey
                border-radius: 25px
                h4
                    font-weight: $font-800
                    color: $dark-green
                .btn-darkgray
                    width: 160px
                    font-weight: $font-800

@media (min-width: 768px)
    .home
        .container
            .d-flex
                .btn-warn
                    width: 300px
                .input-warn, .input-green
                    width: 100%
            .play
                width: 80px
            small
                max-width: 100%
                font-size: 15px
            .link-gray
                font-size: 20px
            .btn-darkgreen, .btn-darkgray, .btn-lightgray
                width: 300px
                font-size: 22px
            .form-group2
                label
                    min-width: 180px
                    font-size: 20px
            .img-planet
                width: 220px
            .warning, .darkgreen
                h1
                    font-size: 45px
                small
                    font-size: 15px
                h2
                    font-size: 45px
                .d-flex
                    .box-img
                        min-width: 120px
                        height: 120px
                        img
                            width: 120px
                            height: 120px
                    .items
                        .kit
                            font-size: 22px
                        .text-left
                            font-size: 15px
            form      
                .lead
                    font-size: 20px
                .bold
                    font-size: 20px
                .btn-darkgray-sm
                    width: 200px
                    font-size: 24px
        
@keyframes bounce 
    0%
        transform: translateY(0)
    100%
        transform: translateY(-15px) scale(1.5)