@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-ExtraBold.woff2') format('woff2'),
        url('Akrobat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Bold.woff2') format('woff2'),
        url('Akrobat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Black.woff2') format('woff2'),
        url('Akrobat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Light.woff2') format('woff2'),
        url('Akrobat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Regular.woff2') format('woff2'),
        url('Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-ExtraLight.woff2') format('woff2'),
        url('Akrobat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-SemiBold.woff2') format('woff2'),
        url('Akrobat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Thin.woff2') format('woff2'),
        url('Akrobat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

