/* Fuentes */
@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-ExtraBold.woff2") format("woff2"), url("../font/Akrobat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Bold.woff2") format("woff2"), url("../font/Akrobat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Black.woff2") format("woff2"), url("../font/Akrobat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Light.woff2") format("woff2"), url("../font/Akrobat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Regular.woff2") format("woff2"), url("../font/Akrobat-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-ExtraLight.woff2") format("woff2"), url("../font/Akrobat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-SemiBold.woff2") format("woff2"), url("../font/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../font/Akrobat-Thin.woff2") format("woff2"), url("../font/Akrobat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Vars */
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Akrobat";
  font-weight: 500;
  background: #e5e2e3;
}

.animation, .animation2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f9e100;
}

.animation .light, .animation2 .light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.animation .box, .animation2 .box {
  position: relative;
  display: block;
  margin: 0 0 0 -8px;
}

.animation .box h1, .animation2 .box h1 {
  font-size: 35px;
  font-weight: 800;
  color: #005c2e;
  -webkit-animation: show 1s alternate, rotate 2s alternate infinite;
          animation: show 1s alternate, rotate 2s alternate infinite;
}

.animation .box .logo, .animation2 .box .logo {
  width: 240px;
  -webkit-animation: show 1s alternate, rotate 3s alternate infinite;
          animation: show 1s alternate, rotate 3s alternate infinite;
}

.animation .box h2, .animation2 .box h2 {
  font-size: 35px;
  font-weight: 800;
  color: #005c2e;
}

.animation .box .logo-planet, .animation2 .box .logo-planet {
  width: 240px;
}

.animation2 {
  background: #f9e100;
}

.animation2 .box h1 {
  font-weight: 800;
}

.animation2 .box .logo-planet {
  width: 240px;
  margin: auto;
}

.hojas {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: down 3s alternate both;
          animation: down 3s alternate both;
}

.hojas2 {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: fly alternate infinite;
          animation: fly alternate infinite;
}

.hojas3 {
  position: absolute;
  width: 25px;
  z-index: 50;
  -webkit-animation: fly2 alternate infinite;
          animation: fly2 alternate infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(65vh);
            transform: translateY(65vh);
  }
}

@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(65vh);
            transform: translateY(65vh);
  }
}

@-webkit-keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(35px) translateY(-50px) rotate(5deg);
            transform: translateX(35px) translateY(-50px) rotate(5deg);
  }
}

@keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(35px) translateY(-50px) rotate(5deg);
            transform: translateX(35px) translateY(-50px) rotate(5deg);
  }
}

@-webkit-keyframes fly2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-35px) translateY(30px) rotate(-5deg);
            transform: translateX(-35px) translateY(30px) rotate(-5deg);
  }
}

@keyframes fly2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0px) rotate(0);
            transform: translateX(0) translateY(0px) rotate(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-35px) translateY(30px) rotate(-5deg);
            transform: translateX(-35px) translateY(30px) rotate(-5deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ocult {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ocult {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #e5e2e3;
  padding: 10px;
}

.header .logo2 {
  width: 180px;
}

.header .icon-menu {
  position: fixed;
  top: 13px;
  right: 10px;
  width: 40px;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: -200px;
  left: 50%;
  z-index: 50;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px;
  background: #005c2e;
  opacity: 0;
  -webkit-transition: 0.8s cubic-bezier(1, 0, 0, 1) all;
  transition: 0.8s cubic-bezier(1, 0, 0, 1) all;
}

.nav a {
  display: block;
  width: 200px;
  font-size: 22px;
  font-weight: 600;
  padding: 7px 15px;
  color: #e5e2e3;
  border-bottom: 2px solid #e5e2e3;
  text-decoration: none;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.nav a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.nav a:nth-child(5) {
  border-bottom: 0px;
}

.nav a:nth-child(5):hover {
  border-bottom: 0px;
}

.active {
  top: 200px;
  opacity: 1;
}

.home {
  display: block;
  min-height: 700px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e2e3;
}

.home .container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  /*height: 750px;*/
  margin: auto;
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-transition: 1s .5s ease-in all;
  transition: 1s .5s ease-in all;
}

.home .container .logo {
  width: 280px;
  cursor: pointer;
}

.home .container .flecha, .home .container .flecha2 {
  cursor: pointer;
  width: 50px;
  -webkit-animation: bounce 1s alternate infinite;
          animation: bounce 1s alternate infinite;
}

.home .container .flecha2 {
  width: 30px;
  -webkit-animation: none;
          animation: none;
}

.home .container h1 {
  font-size: 40px;
  font-weight: 600;
  color: #005c2e;
}

.home .container .h1 {
  font-size: 25px;
  font-weight: 800;
}

.home .container form {
  display: block;
  width: 100%;
  margin: auto;
}

.home .container .text-small {
  font-size: 19px;
  font-weight: 800;
  color: #005c2e;
}

.home .container .logo2 {
  width: 240px;
}

.home .container .video {
  position: relative;
}

.home .container .video:hover .play {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

.home .container .video video {
  max-height: 300px;
  width: 100%;
}

.home .container .video .iframe {
  display: block;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
}

.home .container .video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .d-flex .btn-warn {
  width: 220px;
  font-size: 22px;
  font-weight: 600;
  color: #005c2e;
  background: #f9e100;
  border-radius: 25px;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .d-flex .btn-warn:hover {
  background: #005c2e;
  color: #f9e100;
}

.home .container .d-flex .input-warn {
  width: 240px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #005c2e;
  background: #f9e100;
  border-radius: 25px;
  border: none;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.home .container .d-flex .input-warn:focus, .home .container .d-flex .input-warn:valid {
  background: #005c2e;
  color: #f9e100;
}

.home .container .d-flex .input-green {
  width: 240px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #005c2e;
  background: transparent;
  border-radius: 25px;
  border: 4px solid #005c2e;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.home .container .d-flex .input-green:focus, .home .container .d-flex .input-green:valid {
  border: 4px solid #55c752;
}

.home .container .d-flex p {
  font-size: 24px;
}

.home .container small {
  max-width: 300px;
  font-size: 12px;
  font-weight: 600;
  color: #005c2e;
}

.home .container .check {
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: 0;
}

.home .container .btn-darkgreen {
  width: 180px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #e5e2e3;
  background: #005c2e;
  border-radius: 25px;
  border: none;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .btn-darkgreen:hover {
  background: #808080;
  color: #f9e100;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.home .container .img-planet {
  width: 180px;
}

.home .container .form-group, .home .container .form-group3 {
  border: 4px solid #808080;
  border-radius: 25px;
}

.home .container .form-group p, .home .container .form-group3 p {
  width: 30%;
  border-right: 3px solid #808080;
  font-size: 22px;
  font-weight: 500;
  color: #808080;
}

.home .container .form-group p.d-block, .home .container .form-group3 p.d-block {
  min-width: 40%;
}

.home .container .form-group .input-grey, .home .container .form-group3 .input-grey {
  width: 60%;
  margin-left: 0;
  margin-right: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #808080;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.home .container .form-group .input-grey:focus, .home .container .form-group .input-grey:valid, .home .container .form-group3 .input-grey:focus, .home .container .form-group3 .input-grey:valid {
  color: #005c2e;
}

.home .container .form-group img, .home .container .form-group3 img {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .container .small-gray {
  font-weight: 600;
  color: #808080;
}

.home .container .small-green {
  font-size: 16px;
  font-weight: 600;
  color: #005c2e;
}

.home .container .link-gray {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #808080;
}

.home .container .flecha-gris {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .flecha-gris.arriba {
  opacity: 0;
  top: 80px;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.home .container .d-flex .checkbox {
  display: none;
}

.home .container .d-flex #checkbox:checked ~ .casa, .home .container .d-flex #checkbox2:checked ~ .apart, .home .container .d-flex #checkbox3:checked ~ .lun, .home .container .d-flex #checkbox4:checked ~ .mart, .home .container .d-flex #checkbox5:checked ~ .mier, .home .container .d-flex #checkbox6:checked ~ .juev, .home .container .d-flex #checkbox7:checked ~ .vier, .home .container .d-flex #checkbox8:checked ~ .any {
  background: #808080;
  color: white;
}

.home .container .d-flex label {
  display: block;
  min-width: 120px;
  font-size: 20px;
  font-weight: 500;
  color: #808080;
  border: 3px solid #808080;
  border-radius: 25px;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
  cursor: pointer;
}

.home .container .d-flex .checklabel {
  border: none;
}

.home .container .form-group2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .container .form-group2 label {
  min-width: 28%;
  font-size: 18px;
}

.home .container .form-group3 .input-grey {
  width: 100%;
}

.home .container .btn-darkgray {
  width: 240px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #e5e2e3;
  background: #808080;
  border-radius: 25px;
  border: none;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .btn-darkgray:hover {
  background: #f9e100;
  color: #808080;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.home .container .btn-lightgray {
  width: 220px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #808080;
  background: transparent;
  border: 4px solid #808080;
  border-radius: 25px;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container .btn-lightgray:hover {
  background: #808080;
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.home .container .input-lightgrey {
  font-size: 22px;
  font-weight: 500;
  color: #808080;
  border: none;
  outline: none;
  border-bottom: 2px solid #808080;
  background: transparent;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.home .container .input-lightgrey:focus, .home .container .input-lightgrey:valid {
  color: #005c2e;
}

.home .container .input-sm {
  width: 40px;
  font-size: 22px;
  font-weight: 500;
  color: #808080;
  border: none;
  outline: none;
  border-bottom: 2px solid #808080;
  background: transparent;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.home .container .input-sm:focus, .home .container .input-sm:valid {
  color: #005c2e;
}

.home .container .input-sm:last-child {
  border-bottom: 0px;
}

.home .container .sep {
  font-size: 24px;
  font-weight: 800;
  color: #808080;
}

.home .container a {
  text-decoration: none;
}

.home .container .warning, .home .container .darkgreen {
  background: #f9e100;
}

.home .container .warning h1, .home .container .darkgreen h1 {
  font-size: 30px;
  font-weight: 800;
}

.home .container .warning small, .home .container .darkgreen small {
  font-size: 14px;
  font-weight: 600;
}

.home .container .warning h2, .home .container .darkgreen h2 {
  font-size: 40px;
  font-weight: 800;
  background: #005c2e;
  color: #f9e100;
  border-radius: 25px;
}

.home .container .warning hr, .home .container .darkgreen hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #005c2e;
}

.home .container .warning .d-flex .box-img, .home .container .darkgreen .d-flex .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 85px;
  height: 85px;
  background: #005c2e;
  cursor: pointer;
}

.home .container .warning .d-flex .box-img img, .home .container .darkgreen .d-flex .box-img img {
  display: block;
  width: 85px;
  height: 85px;
}

.home .container .warning .d-flex .items .kit, .home .container .darkgreen .d-flex .items .kit {
  font-size: 15px;
  font-weight: 600;
}

.home .container .warning .d-flex .items .text-left, .home .container .darkgreen .d-flex .items .text-left {
  font-size: 12px;
  font-weight: 600;
}

.home .container .darkgreen .d-flex .box-img {
  background: #f9e100;
}

.home .container .darkgreen .d-flex .box-img small {
  color: #005c2e;
}

.home .container .darkgreen hr {
  background: #f9e100;
}

.home .container form .d-flex .lab {
  cursor: pointer;
  border: none;
}

.home .container form .group, .home .container form .group2 {
  border-top: 2px solid #808080;
}

.home .container form .group p, .home .container form .group span, .home .container form .group2 p, .home .container form .group2 span {
  width: 50%;
}

.home .container form .group p, .home .container form .group2 p {
  border-right: 2px solid #808080;
}

.home .container form .group2 p {
  border-right: 0px;
}

.home .container form .lead {
  font-size: 17px;
  font-weight: 600;
  color: #808080;
}

.home .container form .bold {
  color: #808080;
  font-weight: 800;
}

.home .container form .btn-darkgray-sm {
  width: 140px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: #e5e2e3;
  background: #808080;
  border-radius: 25px;
  border: none;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

.home .container form .btn-darkgray-sm:hover {
  background: #f9e100;
  color: #808080;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.home .container .darkgreen {
  background: #005c2e;
}

.home .container .darkgreen h1 {
  color: #f9e100;
}

.home .container .darkgreen small {
  color: #f9e100;
}

.home .container .darkgreen h2 {
  background: #f9e100;
  color: #005c2e;
}

.home .container .modal .modal-content {
  background: #e5e2e3;
  border-radius: 25px;
}

.home .container .modal .modal-content h4 {
  font-weight: 800;
  color: #005c2e;
}

.home .container .modal .modal-content .btn-darkgray {
  width: 160px;
  font-weight: 800;
}

/*
  Nuevo codigo 23-04-2021
  Carlos Rivero
*/
.no-style{
  border: none !important;
  outline: none !important;
  background-color: transparent;
}
.inline-flex {
  display: inline-flex !important;
}

.inline-block {
  display: inline-block !important;
}

.input-green-focus{
  border: 4px solid #55c752;
}


@media (min-width: 768px) {
  .home .container .d-flex .btn-warn {
    width: 300px;
  }
  .home .container .d-flex .input-warn, .home .container .d-flex .input-green {
    width: 100%;
  }
  .home .container .play {
    width: 80px;
  }
  .home .container small {
    max-width: 100%;
    font-size: 15px;
  }
  .home .container .link-gray {
    font-size: 20px;
  }
  .home .container .btn-darkgreen, .home .container .btn-darkgray, .home .container .btn-lightgray {
    width: 300px;
    font-size: 22px;
  }
  .home .container .form-group2 label {
    min-width: 180px;
    font-size: 20px;
  }
  .home .container .img-planet {
    width: 220px;
  }
  .home .container .warning h1, .home .container .darkgreen h1 {
    font-size: 45px;
  }
  .home .container .warning small, .home .container .darkgreen small {
    font-size: 15px;
  }
  .home .container .warning h2, .home .container .darkgreen h2 {
    font-size: 45px;
  }
  .home .container .warning .d-flex .box-img, .home .container .darkgreen .d-flex .box-img {
    min-width: 120px;
    height: 120px;
  }
  .home .container .warning .d-flex .box-img img, .home .container .darkgreen .d-flex .box-img img {
    width: 120px;
    height: 120px;
  }
  .home .container .warning .d-flex .items .kit, .home .container .darkgreen .d-flex .items .kit {
    font-size: 22px;
  }
  .home .container .warning .d-flex .items .text-left, .home .container .darkgreen .d-flex .items .text-left {
    font-size: 15px;
  }
  .home .container form .lead {
    font-size: 20px;
  }
  .home .container form .bold {
    font-size: 20px;
  }
  .home .container form .btn-darkgray-sm {
    width: 200px;
    font-size: 24px;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px) scale(1.5);
            transform: translateY(-15px) scale(1.5);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px) scale(1.5);
            transform: translateY(-15px) scale(1.5);
  }
}
/*# sourceMappingURL=styles.css.map */
